@import'vars';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
   background-color: $cyan;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}




